body {
  font-family: Arial, Helvetica, sans-serif;
}
.map {
  background-image: url("./images/map.jpg");
  background-size:cover;
  width:100%;
  height:100%;
  top:0;
  opacity: 0.5;
  position:fixed;
  z-index:-1;
}
.block1 {
  margin-top: 20px;
  border-style: groove;
  border-color: brown;
  border-radius: 20px;
}
.search-engine {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.unitcelsius {
  color: rgb(141, 32, 24);
}
.unitcelsius:hover {
  color: rgb(141, 32, 24);
  cursor: pointer;
}
.unitfahrenheit {
  color: rgb(141, 32, 24);
}
.unitfahrenheit:hover {
  color: rgb(141, 32, 24);
  cursor: pointer;
}
.currentplace {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.cityname {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.block2 {
  margin-top: 50px;
  border-radius: 20px;
}
.followingdays {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

.WeatherForecast {
  text-align: center;
  margin: 20px;
}

.WeatherForecast canvas {
  text-align: center;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
}

.link {
  color: rgb(54, 45, 0);
  text-align: center;
}
.opencode {
  color: rgb(54, 45, 0);
  text-decoration: underline;
}
.opencode:hover {
  color: rgb(54, 45, 0);
}
